// Place all the styles related to the api/friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-container {
    width: 103px;
    height: 144px;
    text-align: center;
    padding: 5px;
}

.friend-container img {
    width: inherit;
    height: 103px;
    object-fit: cover;
    display: inline-flex;
}

.friend-link {
    text-decoration: none;
    color: #385898;
}

.friend-link:hover {
    text-decoration: underline;
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.friends-label {
    width: 150px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;
}

.friends-label img {
    width: 30px;
    height: 30px;
}

.friends-label h3 {
    font-size: 18px;
    color: #1d2129;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    
}

.friends-label h4 {
    font-size: 14px;
    color: #90949c;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
}


//Friend requests nav bar

.dropdown-image {
    margin-bottom: 1px;
}

.dropdown-friends {
    width: 35px;
    height: 30px;
    position: relative;
}


.dropdown-friends:hover {
    background-color: #3C5CA2;
    cursor: pointer;
}

.dropdown-requests {
    display: none;
    position: absolute;
    min-width: 430px;
    min-height: 33px;
    left: -330px;
    background-color: #FFFFFF;
    list-style-type: none;
    z-index: 2;
    margin-top: 0;
    padding: 0;

}

.dropdown-requests li:first-child {
    height: 33px;
    font-size: 12px;
    font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 
    1px 0 0 0 #C1C1C1,
    0 1px 0 0 #C1C1C1,
    1px 1px 0 0 #C1C1C1,   
    1px 0 0 0 #C1C1C1 inset, 
    0 1px 0 0 #C1C1C1 inset;
    text-align: center;
    vertical-align: middle;
    line-height: 33px;
}


.dropdown-requests > li:hover {
    display: block;
    background-color: #E9EBEE;
}



.friend-request {
    min-width: 432px;
    min-height: 63px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    text-decoration: none;
    box-shadow: 
        1px 0 0 0 #C1C1C1,
        0 1px 0 0 #C1C1C1,
        1px 1px 0 0 #C1C1C1,   
        1px 0 0 0 #C1C1C1 inset, 
        0 1px 0 0 #C1C1C1 inset;

}

.friend-request span {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#friend-request-img {
    width: 53px;
    height: 53px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 50px;
}



//Friending button


.friends-btn button{
    height: 30px;
    font-family: 'PT Serif', serif;
    font-size: 15px;
    background-color: #FEFEFE;
    padding-left: 28px;
    outline:0;
}

.friends-add {
    background: image-url('add-friend.png') left center no-repeat;
    background-size: 20px;
    background-position: 4px;
}

.friends-remove {
    background: image-url('remove-friend.png') left center no-repeat;
    background-size: 20px;
    background-position: 4px;
}

.friends-btn button:hover{
    cursor: pointer;
    background-color: #DEDFE2;
}





