// Place all the styles related to the api/likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.like-body {
    color: #385898;
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.like-btn {
    width: 155px;
    height: 30px;
    box-sizing: border-box;
    margin: 2px;
}

.like-btn:hover {
    filter: invert(10%);
}

.like-label {
    font-family: 'PT Serif', serif;
    font-size: 14px;
}