// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Post Form

.post-form {
    height: 154px;
    // width: 100%;

}

.post-form-header{
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
    padding-left: 10px;
}

.post-form-header img{
    height: 16px;
    width: 16px;
}

.post-form-header span{
    margin-left: 5px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    font-weight: bold;
}


.post-form-body {
    display: flex;
    align-items: center;
    min-height: 120px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 1px solid #EAEBEE;
}

.post-form-avatar {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    object-fit: cover;
}

.post-form div textarea{
    margin: 10px;
    margin-left: 15px;
    min-height: 100px;
    width: 95%;
    resize: none;
    outline: none;
    display: block;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

.post-form input{
    width: 490px;
    height: 28px;
    background-color: #4267B2;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

::-webkit-input-placeholder { 
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

input[disabled=disabled], input:disabled {
    opacity: 0.4;
}



//Post Items 

.post-list {
    width: 100%;
    margin: 0;
    padding: 0;

}

.post-index-item {
    display: block;
    width: 100%;
    min-height: 185px;
    border-radius: 2px;
    margin-bottom: 15px;
    border: 2px solid #DDDFE2;
    background-color: white;
}

.post-header {
    width: 95%;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.post-header > div {
    margin-left: 15px;
}

.post-header-info {
    font-family: 'Roboto', sans-serif;
    color: #385898;
    font-size: 14px;
    font-weight: bold;
}

.post-header-link {
    text-decoration: none;
    color: #385898;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.post-header-date {
    color: #616770;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.post-header-arrow {
    color: #60666F;
}

.post-body {
    width: 90%;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    padding: 20px;
}