// Place all the styles related to the api/profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4267B2;
    height: 40px;
}

.navbar img {
    height: 30px;
    width: 35px;
}

.navbar-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80px;
    text-decoration: 'none';
    color: 'white';
    padding: 2px 6px;
}

.navbar-avatar:hover {
    background-color: #3C5CA2
}

.navbar-avatar img {
    border-radius: 50%;
    height: 30px;
    width: 35px;
}

.navbar-avatar span {
    font-size: 14px;
    text-decoration: 'none';
    color: 'white';
    font-weight: bold;
}

.profile-main {
    background-color: #E9EBEE;
    height: 2000px;
}

.profile-container {
    width: 900px;
    margin: 0 auto;
}

.profile-left {
    width: 40%;
    float: left;
}

.profile-right {
    width: 60%;
    float: right;
}

.profile-top {
    position: relative;
    width: inherit;
    height: 400px;
}

.profile-top h1 {
  position: absolute;
  bottom: 80px;
  left: 35%;
  color: white;
}


.profile-photo {
  position: absolute;
  bottom: 30px;
  left: 15px;
}

.profile-photo img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
}

.profile-cover img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}


//profile info

.profile-info {
    border: 2px solid black;
    width: 340px;
    height: 460px;
    margin-bottom: 15px;
    // position: absolute;
    // float: right;
    // display: inline;
    background-color: white;

}

.profile-post-form {
    border: 2px solid black;
    width: 530px;
    height: 155px;
    margin-bottom: 15px;
    // position: absolute;
    // float: right;
    display: inline-flex;
    float: right;
    background-color: white;

}

.profile-friends {
    border: 2px solid black;
    width: 340px;
    height: 500px;
    margin-bottom: 15px;
    display: inline-flex;
    background-color: white;

}

.profile-post-index {
    border: 2px solid black;
    width: 530px;
    height: 1300px;
    display: inline-flex;
    float: right;
    vertical-align: top;
    background-color: white;

}

