// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Login Bar

.login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #425F9C;

}

.login h1 {
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.login-form {
    display: flex;
    justify-content: space-around;
}

.login-form th {
    color: #fff;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
}

.login-form button {
    background-color: #4267b2;
    border-color: #29487d;
    color: #ccd0d5;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
}

//Signup Form

.signup {
    display: block;
    background-color: #EDF0F5;
    height: 600px;
}

.signup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

.signup-info {
    width: 500px;
}

.signup-info h2 {
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-size: 28px;
    letter-spacing: normal;
    line-height: 36px;
    padding: 42px 0 24px;
    width: 456px;
}

.signup-info div {
    margin-top: 14px;
    padding-bottom: 10px;
    line-height: 1.34;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    line-height: 22px;
    margin-right: 2px;
    color: #666;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
}

.signup-info div span {
    color: #333;
    font-size: 17px;
    font-weight: bold;
}

.signup-errors {
    background-color: #BE4B49;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    font-size: 13px;
    max-width: 200px;
    padding: 13px;
    margin: 0 auto;
    list-style-type:none;
    position: absolute;
    right: 150px;
    bottom: 350px;
}

.signin-errors {
    background-color: #BE4B49;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    font-size: 13px;
    max-width: 200px;
    padding: 13px;
    margin: 0 auto;
    list-style-type:none;
    position: absolute;
}

.signup-form button {
    font-size: 19px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;


}

.name-input input:last-child{
    margin-left: 5px;
}

.signup-form h1 {
    color: #333;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
}

.signup-form h2 {
    color: #333;
    font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 1.26;
    margin-bottom: 20px;
    font-weight: lighter;

}

.signup-form h3 {
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
}

.signup-form input {
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    border: 1px solid #ccd0d5;
}

.signup-gender span {
    // font-family: inherit;
    // position: relative;
    // margin-top: 10px;
    
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
    margin-right: 10px;


}

.signup-gender input {
    border-radius: 4px;
    border-width: 1px;
    display: inline-block;
    padding: 5px 0 5px 4px;
    margin-right: 5px;
}

